body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#task-form {
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    padding: 20px;
    margin: 20px;
}

#task-form input {
    width: 75%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#task-form button {
    margin-top: 10px;
    height: 40px;
    width: 20%;
    margin-left: 5%;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#task-form button:hover {
    background-color: #0056b3;
}

#task-list {
    list-style-type: none;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}

.task-item {
    padding: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.task-item:last-child {
    border-bottom: none;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

